.App {
  height: 100vh;
  width: 100vw;
  background: url('https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2015/09/15/161230_1308258.JPG.1500x1000_q95_crop-smart_upscale.jpg');
}
#middleArea{
  text-align: center;
  margin-top: 30vh;
  border-radius: 12px;
  /* box-shadow: -1px 2px 12px  yellowgreen; */
  word-spacing: 2px;
  padding: 5px;
}
#middleArea:hover{
  box-shadow: -1px 2px 12px  yellowgreen;
}
.form-control-login{
  margin:1em ;
  color: rgb(31, 26, 26);
}
input:hover{
  box-shadow: -1px -1px 16px 1px yellowgreen;
}
.titleMain{
  text-shadow: -2px -2px rgb(168, 199, 106);
  font-weight: 900;
  text-decoration: underline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
