.sidebar{
    /* background-color: blanchedalmond;     */
    width: 100%;
    background-image: url("https://th.bing.com/th/id/OIP.kU0hfzTvJUzGZ1hHJWIyuAHaNL?w=182&h=324&c=7&o=5&dpr=1.5&pid=1.7");
    min-width: 20vw; 
    /* min-width: 12vw; */
    /* padding: 2px; */
    /* padding-bottom: 12px; */
    height: 90vh;
    /* overflow: auto; */
}
::-webkit-scrollbar{
    width: 1px;
    /* background-color: red; */
    /* color:blue */
}
.userName{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Sheader{
    /* background-color: rgb(54, 223, 238); */
    background-color: rgba(25, 141, 187, 0.9);
    /* display: flex; */
    justify-content: space-between;
    min-height: 11vh;
    /* height:100%; */
}
.btnSearch{
    color: rgba(25, 141, 187, 0.9) !important;
    width: auto; 
}

.search{
    margin:5px;
    min-height: 5vh;
    display: flex;
    /* flex-direction: row; */
    
}
.chat{
    /* line-height: 15vh; */
    /* background-color: white; */
    max-height: 72.7vh;
    /* height:100%; */
    overflow: auto;
    /* display: flex; */
    /* flex-direction: column; */

    /* justify-content: space-evenly; */

}
#profile{
    border:1px solid white;
    display: flex;
    background-color: rgba(25, 141, 187, 0.7);
    color:white;
    /* background-color: rgb(243, 240, 225); */
    justify-content: space-evenly;
    margin:5px;

}
#time{
    color:white;
    font-size: 10px;
}